{% extends '@ReaccionCMSBundle/rocket_theme/base.html.twig' %}

{% block body %}
	
	{% if name is not empty %}
	<h1>{{ name }}</h1>
	{% endif %}

	<p class="lead">{{ printContent(content, 'description') }}</p>

	{{dump(content)}}

{% endblock %}