{% extends '@ReaccionCMSBundle/rocket_theme/base.html.twig' %}

{% block body %}
	
	{% if name is not empty %}
	<h1>{{ name }}</h1>
	{% endif %}

	{% if content.description is defined %}
	<p class="lead">{{ printContent(content.description) }}</p>
	{% endif %}

	{{dump(content)}}

{% endblock %}