<div class="dotted-separator"></div>

{% embed '@ReaccionCMSBundle/entries/comments/post_comment.html.twig' %}{% endembed %}

<div class="dotted-separator"></div>

{% embed '@ReaccionCMSBundle/entries/comments/list_comments.html.twig' %}{% endembed %}