{% set paginationData = paginate(totalComments.comments, app.request.query.get("cp")) %}

<div class="row">
	<div class="col-md-6 ml-auto mr-auto mt-3">

		<nav>
		  <ul class="pagination justify-content-center">
		  	
		  	{% for pagination in paginationData %}
		    <li class="page-item {% if pagination.active %}active{% endif %}">
		    	<a class="page-link" {% if pagination.page is not empty %}href="?cp={{ pagination.page }}#comments"{% else %}href="javascript:void()"{% endif %}>{{ pagination.label }}</a>
		    </li>
		    {% endfor %}

		  </ul>
		</nav>

	</div>
</div>