<div id="post_comment_wrapper">

	<h4><strong>{{ 'entries_comments.post_comment_title' | trans }}</strong></h4>

	<div class="row justify-content-center">
		<div class="col-md-10">

			{% if app.user is not empty %}
			<form id="post_comment">
				<textarea id="new_comment" placeholder="{{ 'entries_comments.write_comment' | trans }}"></textarea>
				<div class="comment_form_footer">
					<button type="submit" class="btn btn-sm btn-primary">{{ 'entries_comments.publish_btn' | trans }}</button>
				</div>
			</form>
			{% else %}
			<p align="center" class="pt-3">{{ 'entries_comments.signin_to_comment' | trans({ '%signin_link%' : url('user_login'), '%signup_link%' : url('user_register') }) | raw }}</p>
			{% endif %}

		</div>
	</div>

</div>