<footer class="pt-4 my-md-5 pt-md-4 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">ReaccionCMS - © 2018</small>
    </div>
    <div class="col-12 col-md text-right">
        {% if getConfig('show_languages_switcher') %}
    	    {% embed '@ReaccionCMSBundle/widgets/language_picker.html.twig' %}{% endembed %}
        {% endif %}
    </div>
  </div>
</footer>
