{% set languagesData = getLanguagesWidgetData() %}
<div id="language_picker_widget" class="dropdown">
	<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">{{ languagesData.default.originalName }}</button>
  	<div class="dropdown-menu">
  		{% for languageData in languagesData.languages %}
	    <a class="dropdown-item" data-language="{{ languageData.language }}" href="#">
	    	{% if languageData.originalName is not empty %}
				{{ languageData.originalName }}
			{% else %}
				{{ ('languages.' ~ languageData.language) | trans }}
			{% endif %}
	    </a>
	    {% endfor %}
  	</div>
</div>