.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #000;

}
.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background: transparent;
    outline: 0;
}

nav li.nav-item a.nav-link.active{
	text-decoration: underline;
}

nav li#signup_link, nav li.blue-btn{
	margin-top: 3px;
}

nav li#signup_link a, nav li.blue-btn a{
	color: #FFF !important;
}