.dotted-separator{
	height:1px;
	border:1px dashed #CECECE;
	margin: 30px 0;
}

div#post_comment_wrapper textarea#new_comment{
	height: 200px;
	width: 100%;
	margin-top: 20px;
	border: 2px solid #DBDFE4;
	padding: 10px;
}
div#post_comment_wrapper div.comment_form_footer{
	background-color:#F6F8F9;
	margin-top:-5px;
	border:2px solid #DBDFE4;
	padding:8px 10px;
	text-align:right;
}