.dotted-separator{
	height:1px;
	border:1px dashed #CECECE;
	margin: 30px 0;
}

div#post_comment_wrapper textarea#new_comment{
	height: 200px;
	width: 100%;
	margin-top: 20px;
	border: 2px solid #DBDFE4;
	padding: 10px;
}
div#post_comment_wrapper div.comment_form_footer{
	background-color:#F6F8F9;
	margin-top:-5px;
	border:2px solid #DBDFE4;
	padding:8px 10px;
	text-align:right;
}

div#comments div.entry_comments_list{
	margin-top:20px;
}

div#comments div.entry_comments_list ul{
	list-style: none;
}

div#comments div.entry_comments_list li{
	width: 100%;
}
div#comments div.entry_comments_list div.comment-wrapper{
	border:2px solid #DBDFE4;
	margin-bottom:10px;
}
div#comments div.entry_comments_list div.comment-header{
	background-color:#F6F8F9;
	padding:10px;
}
div#comments div.entry_comments_list div.comment-body{
	padding:10px;
}

div#comments div.entry_comments_list div.comment-footer{
	text-align:right;
	font-size:13px;
	padding:10px;
}